body {
    text-align: center;
}

img {
    max-height: 80vh;
    max-width: 90vw;
    border: solid 10px rgba(160, 160, 160, 0.5);
    -webkit-animation: blur 3s linear 0s infinite;
    display: inline-block;
}

@-webkit-keyframes blur {
    0%{
        opacity: 0;
        -webkit-transform: scale(0.2,0.2) ;
        -webkit-transform: translateX(-100vw) ;
    }
    20%{
        opacity: 1;
        -webkit-transform: scale(1,1) ;
        -webkit-transform: translateX(0vw) ;
    }
    80%{
        opacity: 1;
        -webkit-transform: scale(1,1) ;
        -webkit-transform: translateX(0vw) ;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(0.2,0.2) ;
        -webkit-transform: translateX(100vw) ;
    }
}